
// Color of the header background
$header-background-color: #f8f8f8cc;
$header-background-color-dark: #252627cc;

// Color of the single link
// $single-link-color: #2d96bd ;
// $single-link-color-dark: #55bde2 ;
// @font-face {
// 	font-family: AlibabaPuHuiTi-3-55-Regular;
// 	src:url(/fonts/AlibabaPuHuiTi-3-55-Regular.woff2) format('woff2');
// }
// $global-font-family: AlibabaPuHuiTi-3-55-Regular;

@import url('https://zsftcdn-cn.zeoseven.com/cn/69/main/result.css');
$global-font-family: Noto Sans CJK SC;

.single-title {
	font-size: 1.8rem!important;
	font-weight: normal!important;
}
.header-title{
	font-family: $global-font-family!important;
}