
// Color of the header background
$header-background-color: #f8f8f8cc;
$header-background-color-dark: #252627cc;

// Color of the single link
$single-link-color: #2d96bd ;
$single-link-color-dark: #55bde2 ;
